export(cip)
export(corr_test)
export(emcdf)
export(ksample_test)
export(MultiDimen_test)
export(pairwise_test)
export(permu_table)
export(RMD_test)
export(siegel_tukey)
export(twosample_test)
S3method(print,nonp)
S3method(plot,emcdf)

importFrom("graphics", "legend", "lines")
importFrom("stats", "cor", "median", "pchisq", "pf", "pnorm", "qnorm", "quantile", "rbinom", "runif", "t.test", "var")
importFrom("utils", "combn")
